<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="logbook.koas.logbookkoas">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="logbook.koas.logbookkoas.about"></activity>
        <activity android:name="logbook.koas.logbookkoas.ResidenActivity" />
        <activity android:name="logbook.koas.logbookkoas.editprofilrs" />
        <activity android:name="logbook.koas.logbookkoas.ri_edit" />
        <activity
            android:name="logbook.koas.logbookkoas.profilrs"
            android:noHistory="true" />
        <activity
            android:name="logbook.koas.logbookkoas.IsiJurnalKP"
            android:noHistory="true" />
        <activity android:name="logbook.koas.logbookkoas.ri_OtpApprove" />
        <activity
            android:name="logbook.koas.logbookkoas.ri_QrApprove"
            android:noHistory="true" />
        <activity android:name="logbook.koas.logbookkoas.ri_PassApprove" />
        <activity android:name="logbook.koas.logbookkoas.ri_CamScanner" />
        <activity
            android:name="logbook.koas.logbookkoas.ri_main_approval"
            android:noHistory="true" />
        <activity android:name="logbook.koas.logbookkoas.RotasiInternalDetail" />
        <activity android:name="logbook.koas.logbookkoas.Rotasi" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name="logbook.koas.logbookkoas.showJurnalKetrampilan" />
        <activity android:name="logbook.koas.logbookkoas.showJurnalPenyakit" />
        <activity android:name="logbook.koas.logbookkoas.showJurnal" />
        <activity android:name="logbook.koas.logbookkoas.editprofil" />
        <activity android:name="logbook.koas.logbookkoas.editprofilds" />
        <activity android:name="logbook.koas.logbookkoas.CekJurnalDatePicker" />
        <activity android:name="logbook.koas.logbookkoas.CekJurnal" />
        <activity android:name="logbook.koas.logbookkoas.CamScanner" />
        <activity
            android:name="logbook.koas.logbookkoas.QrApprove"
            android:noHistory="true" />
        <activity android:name="logbook.koas.logbookkoas.OtpApprove" />
        <activity
            android:name="logbook.koas.logbookkoas.MainApprove"
            android:noHistory="true" />
        <activity android:name="logbook.koas.logbookkoas.PassApprove" />
        <activity android:name="logbook.koas.logbookkoas.tambahJurnal" />
        <activity android:name="logbook.koas.logbookkoas.editJurnal" />
        <activity android:name="logbook.koas.logbookkoas.TampilanDaftarKegiatan" />
        <activity android:name="logbook.koas.logbookkoas.IsiJurnalDetail" />
        <activity android:name="logbook.koas.logbookkoas.mainIsiJurnal" />
        <activity android:name="logbook.koas.logbookkoas.RotasiStase" />
        <activity android:name="logbook.koas.logbookkoas.RotasiInternal" />
        <activity android:name="logbook.koas.logbookkoas.semester_rotasi" />
        <activity android:name="logbook.koas.logbookkoas.DaftarKegiatan" />
        <activity android:name="logbook.koas.logbookkoas.QR" />
        <activity android:name="logbook.koas.logbookkoas.MainQR" />
        <activity android:name="logbook.koas.logbookkoas.OTP" />
        <activity android:name="logbook.koas.logbookkoas.MainOTP" />
        <activity
            android:name="logbook.koas.logbookkoas.profil"
            android:noHistory="true" />
        <activity
            android:name="logbook.koas.logbookkoas.profilds"
            android:noHistory="true" />
        <activity android:name="logbook.koas.logbookkoas.MahasiswaActivity" />
        <activity android:name="logbook.koas.logbookkoas.DosenActivity" />
        <activity android:name="logbook.koas.logbookkoas.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="192.168.0.104"
                    android:pathPrefix="/login.php"
                    android:scheme="http" />
            </intent-filter>
        </activity>
    </application>

</manifest>