<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.logbookkoas">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
      android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity android:name=".showJurnalKetrampilan"></activity>
        <activity android:name=".showJurnalPenyakit" />
        <activity android:name=".showJurnal" />
        <activity android:name=".editprofil" />
        <activity android:name=".editprofilds" />
        <activity android:name=".CekJurnalDatePicker" />
        <activity android:name=".CekJurnal" />
        <activity android:name=".CamScanner" />
        <activity
            android:name=".QrApprove"
            android:noHistory="true" />
        <activity android:name=".OtpApprove" />
        <activity
            android:name=".MainApprove"
            android:noHistory="true" />
        <activity android:name=".PassApprove" />
        <activity android:name=".tambahJurnal" />
        <activity android:name=".editJurnal"></activity>
        <activity android:name=".TampilanDaftarKegiatan" />
        <activity android:name=".IsiJurnalDetail" />
        <activity android:name=".mainIsiJurnal" />
        <activity android:name=".rotasiinternal" />
        <activity android:name=".semester_rotasi" />
        <activity android:name=".DaftarKegiatan" />
        <activity android:name=".QR" />
        <activity android:name=".MainQR" />
        <activity android:name=".OTP" />
        <activity android:name=".MainOTP" />
        <activity android:name=".profil" />
        <activity android:name=".profilds" />
        <activity android:name=".MahasiswaActivity" />
        <activity android:name=".DosenActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="192.168.1.9"
                    android:pathPrefix="/login.php"
                    android:scheme="http" />
            </intent-filter>
        </activity>
    </application>

</manifest>